body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input{
    padding:5px;
    border: 1px solid black;
    border-radius:5%;
    background:linear-gradient(to right,red,green,blue,yellow,black,white);

}

#input{
    color:white;
    padding:5px;
    margin-right: -1px;
    border-radius: 5px;
    
    background:linear-gradient(to right,red,green,blue,yellow,black,white);
}
